<meta charset="utf-8">
<title>wombat</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="favicon.ico">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

<!-- JQuery UI Theme - Smoothness -->
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">

<!-- Font Awesome CSS -->
<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">

<!-- My Main CSS -->
<link rel="stylesheet" href="stylesheets/main.css">

<!-- Components CSS -->
<link rel="stylesheet" href="stylesheets/components.css">

<!-- JQuery / Jquery UI -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>

<!-- Mondernizer -->
<script src="bower_components/modernizr/modernizr.js"></script>

<!-- Angular -->
<script src="bower_components/angular/angular.min.js"></script>

<script src="javascripts/controllers/components.js"></script>
<script src="javascripts/directives/toolbox.js"></script>

